# Notebook for learning from data coursework 2022

In [19]:
# import our libraries that we will be using to investigate the data
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

## load out csv data into a pandas dataframe so that we can manipulate it

In [20]:
dataframe = pd.read_csv("AT_T_SBC_Stock_Price_Data_2000_2020.csv")
print(dataframe)

      a_permno  PERMNO      DATE     CUSIP    NCUSIP  \
0        66093   66093  20000103  00206R10  78387G10
1        66093   66093  20000104  00206R10  78387G10
2        66093   66093  20000105  00206R10  78387G10
3        66093   66093  20000106  00206R10  78387G10
4        66093   66093  20000107  00206R10  78387G10
...        ...     ...       ...       ...       ...
5282     66093   66093  20201224  00206R10  00206R10
5283     66093   66093  20201228  00206R10  00206R10
5284     66093   66093  20201229  00206R10  00206R10
5285     66093   66093  20201230  00206R10  00206R10
5286     66093   66093  20201231  00206R10  00206R10

                        COMNAM TICKER  PERMCO  SHRCD  SHRCLS  ...     NAICS  \
0     S B C COMMUNICATIONS INC    SBC   21645     11     NaN  ...       NaN
1     S B C COMMUNICATIONS INC    SBC   21645     11     NaN  ...       NaN
2     S B C COMMUNICATIONS INC    SBC   21645     11     NaN  ...       NaN
3     S B C COMMUNICATIONS INC    SBC   21645     11     NaN  ...       NaN
4     S B C COMMUNICATIONS INC    SBC   21645     11     NaN  ...       NaN
...                        ...    ...     ...    ...     ...  ...       ...
5282               A T & T INC      T   21645     11     NaN  ...  517911.0
5283               A T & T INC      T   21645     11     NaN  ...  517911.0
5284               A T & T INC      T   21645     11     NaN  ...  517911.0
5285               A T & T INC      T   21645     11     NaN  ...  517911.0
5286               A T & T INC      T   21645     11     NaN  ...  517911.0

      PRIMEXCH  TRDSTAT  SECSTAT      PRC       VOL  OPENPRC    ASKHI  \
0            N        A        R  47.1875   5791500  48.5625  49.0000
1            N        A        R  44.2500   7173500  47.0625  47.7500
2            N        A        R  44.9375   9090000  45.0000  45.2500
3            N        A        R  43.7500   7154299  44.5625  45.0000
4            N        A        R  44.1250   5883699  44.5625  44.7500
...        ...      ...      ...      ...       ...      ...      ...
5282         N        A        R  28.6900  19153092  28.7300  28.7600
5283         N        A        R  28.5500  41619463  28.9300  28.9591
5284         N        A        R  28.5400  36617545  28.6900  28.8800
5285         N        A        R  28.4900  34347761  28.5400  28.6800
5286         N        A        R  28.7600  38622254  28.4500  28.8000

        BIDLO     BID
0     46.5000  47.000
1     43.5000  44.250
2     44.4375  44.125
3     43.1250  43.500
4     43.3750  43.750
...       ...     ...
5282  28.5000  28.700
5283  28.5000  28.540
5284  28.5100  28.540
5285  28.4300  28.480
5286  28.3900  28.750

[5287 rows x 29 columns]

In [21]:
# load our data into a pandas dataframe

# create our time series data
time_series_depth = 5

# construct the input data to the machine learning model

for i in range(time_series_depth):
    date_col = []
    prc_col = []
    open_prc_col = []
    askhi_col = []
    bidlo_col = []
    vol_col = []
    for j in range(len(dataframe)):
        date_col.append(dataframe.iloc[[j - i]]["DATE"])
        prc_col.append(dataframe.iloc[[j - i]]["PRC"])
        open_prc_col.append(dataframe.iloc[[j - i]]["OPENPRC"])
        askhi_col.append(dataframe.iloc[[j - i]]["ASKHI"])
        bidlo_col.append(dataframe.iloc[[j - i]]["BIDLO"])
        vol_col.append(dataframe.iloc[[j - i]]["VOL"])
    dataframe['step' + str(i) + 'DATE'] = date_col
    dataframe['step' + str(i) + 'PRC'] = prc_col
    dataframe['step' + str(i) + 'OPENPRC'] = open_prc_col
    dataframe['step' + str(i) + 'ASKHI'] = askhi_col
    dataframe['step' + str(i) + 'BIDLO'] = bidlo_col
    dataframe['step' + str(i) + 'VOL'] = vol_col


# we cant include the data for the stock we are predicting
#col_selection = ["DATE", "OPENPRC", "PRC", "ASKHI", "BIDLO", "VOL"]
col_selection = []

for i in range(time_series_depth):
    col_selection.append("step" + str(i) + "DATE")
    col_selection.append("step" + str(i) + "OPENPRC")
    col_selection.append("step" + str(i) + "PRC")
    col_selection.append("step" + str(i) + "ASKHI")
    col_selection.append("step" + str(i) + "BIDLO")
    col_selection.append("step" + str(i) + "VOL")

X = dataframe[col_selection]
Y = dataframe["PRC"]
    
reg = LinearRegression()

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.3)

reg.fit(x_train, y_train)

predictions = reg.predict(x_test)
total_error = 0
for i in range(len(predictions)):
    total_error += pow(predictions[i] - y_test.array[i], 2)

print("total error squared: ", total_error)

      a_permno  PERMNO      DATE     CUSIP    NCUSIP  \
0        66093   66093  20000103  00206R10  78387G10
1        66093   66093  20000104  00206R10  78387G10
2        66093   66093  20000105  00206R10  78387G10
3        66093   66093  20000106  00206R10  78387G10
4        66093   66093  20000107  00206R10  78387G10
...        ...     ...       ...       ...       ...
5282     66093   66093  20201224  00206R10  00206R10
5283     66093   66093  20201228  00206R10  00206R10
5284     66093   66093  20201229  00206R10  00206R10
5285     66093   66093  20201230  00206R10  00206R10
5286     66093   66093  20201231  00206R10  00206R10

                        COMNAM TICKER  PERMCO  SHRCD  SHRCLS  ...  \
0     S B C COMMUNICATIONS INC    SBC   21645     11     NaN  ...
1     S B C COMMUNICATIONS INC    SBC   21645     11     NaN  ...
2     S B C COMMUNICATIONS INC    SBC   21645     11     NaN  ...
3     S B C COMMUNICATIONS INC    SBC   21645     11     NaN  ...
4     S B C COMMUNICATIONS INC    SBC   21645     11     NaN  ...
...                        ...    ...     ...    ...     ...  ...
5282               A T & T INC      T   21645     11     NaN  ...
5283               A T & T INC      T   21645     11     NaN  ...
5284               A T & T INC      T   21645     11     NaN  ...
5285               A T & T INC      T   21645     11     NaN  ...
5286               A T & T INC      T   21645     11     NaN  ...

                                     step3OPENPRC  \
0     5284    28.69
Name: OPENPRC, dtype: float64
1     5285    28.54
Name: OPENPRC, dtype: float64
2     5286    28.45
Name: OPENPRC, dtype: float64
3      0    48.5625
Name: OPENPRC, dtype: float64
4      1    47.0625
Name: OPENPRC, dtype: float64
...                                           ...
5282  5279    28.98
Name: OPENPRC, dtype: float64
5283   5280    29.0
Name: OPENPRC, dtype: float64
5284   5281    28.5
Name: OPENPRC, dtype: float64
5285  5282    28.73
Name: OPENPRC, dtype: float64
5286  5283    28.93
Name: OPENPRC, dtype: float64

                                       step3ASKHI  \
0       5284    28.88
Name: ASKHI, dtype: float64
1       5285    28.68
Name: ASKHI, dtype: float64
2        5286    28.8
Name: ASKHI, dtype: float64
3           0    49.0
Name: ASKHI, dtype: float64
4          1    47.75
Name: ASKHI, dtype: float64
...                                           ...
5282    5279    29.21
Name: ASKHI, dtype: float64
5283    5280    29.01
Name: ASKHI, dtype: float64
5284    5281    28.93
Name: ASKHI, dtype: float64
5285    5282    28.76
Name: ASKHI, dtype: float64
5286  5283    28.9591
Name: ASKHI, dtype: float64

                                     step3BIDLO  \
0     5284    28.51
Name: BIDLO, dtype: float64
1     5285    28.43
Name: BIDLO, dtype: float64
2     5286    28.39
Name: BIDLO, dtype: float64
3         0    46.5
Name: BIDLO, dtype: float64
4         1    43.5
Name: BIDLO, dtype: float64
...                                         ...
5282  5279    28.75
Name: BIDLO, dtype: float64
5283  5280    28.32
Name: BIDLO, dtype: float64
5284   5281    28.5
Name: BIDLO, dtype: float64
5285   5282    28.5
Name: BIDLO, dtype: float64
5286   5283    28.5
Name: BIDLO, dtype: float64

                                      step3VOL  \
0     5284    36617545
Name: VOL, dtype: int64
1     5285    34347761
Name: VOL, dtype: int64
2     5286    38622254
Name: VOL, dtype: int64
3         0    5791500
Name: VOL, dtype: int64
4         1    7173500
Name: VOL, dtype: int64
...                                        ...
5282  5279    47824714
Name: VOL, dtype: int64
5283  5280    63984560
Name: VOL, dtype: int64
5284  5281    39301101
Name: VOL, dtype: int64
5285  5282    19153092
Name: VOL, dtype: int64
5286  5283    41619463
Name: VOL, dtype: int64

                                      step4DATE  \
0     5283    20201228
Name: DATE, dtype: int64
1     5284    20201229
Name: DATE, dtype: int64
2     5285    20201230
Name: DATE, dtype: int64
3     5286    20201231
Name: DATE, dtype: int64
4        0    20000103
Name: DATE, dtype: int64
...                                         ...
5282  5278    20201218
Name: DATE, dtype: int64
5283  5279    20201221
Name: DATE, dtype: int64
5284  5280    20201222
Name: DATE, dtype: int64
5285  5281    20201223
Name: DATE, dtype: int64
5286  5282    20201224
Name: DATE, dtype: int64

                                     step4PRC  \
0     5283    28.55
Name: PRC, dtype: float64
1     5284    28.54
Name: PRC, dtype: float64
2     5285    28.49
Name: PRC, dtype: float64
3     5286    28.76
Name: PRC, dtype: float64
4      0    47.1875
Name: PRC, dtype: float64
...                                       ...
5282   5278    29.4
Name: PRC, dtype: float64
5283  5279    29.01
Name: PRC, dtype: float64
5284   5280    28.4
Name: PRC, dtype: float64
5285  5281    28.75
Name: PRC, dtype: float64
5286  5282    28.69
Name: PRC, dtype: float64

                                     step4OPENPRC  \
0     5283    28.93
Name: OPENPRC, dtype: float64
1     5284    28.69
Name: OPENPRC, dtype: float64
2     5285    28.54
Name: OPENPRC, dtype: float64
3     5286    28.45
Name: OPENPRC, dtype: float64
4      0    48.5625
Name: OPENPRC, dtype: float64
...                                           ...
5282  5278    29.52
Name: OPENPRC, dtype: float64
5283  5279    28.98
Name: OPENPRC, dtype: float64
5284   5280    29.0
Name: OPENPRC, dtype: float64
5285   5281    28.5
Name: OPENPRC, dtype: float64
5286  5282    28.73
Name: OPENPRC, dtype: float64

                                       step4ASKHI  \
0     5283    28.9591
Name: ASKHI, dtype: float64
1       5284    28.88
Name: ASKHI, dtype: float64
2       5285    28.68
Name: ASKHI, dtype: float64
3        5286    28.8
Name: ASKHI, dtype: float64
4           0    49.0
Name: ASKHI, dtype: float64
...                                           ...
5282    5278    29.68
Name: ASKHI, dtype: float64
5283    5279    29.21
Name: ASKHI, dtype: float64
5284    5280    29.01
Name: ASKHI, dtype: float64
5285    5281    28.93
Name: ASKHI, dtype: float64
5286    5282    28.76
Name: ASKHI, dtype: float64

                                     step4BIDLO  \
0      5283    28.5
Name: BIDLO, dtype: float64
1     5284    28.51
Name: BIDLO, dtype: float64
2     5285    28.43
Name: BIDLO, dtype: float64
3     5286    28.39
Name: BIDLO, dtype: float64
4         0    46.5
Name: BIDLO, dtype: float64
...                                         ...
5282  5278    29.26
Name: BIDLO, dtype: float64
5283  5279    28.75
Name: BIDLO, dtype: float64
5284  5280    28.32
Name: BIDLO, dtype: float64
5285   5281    28.5
Name: BIDLO, dtype: float64
5286   5282    28.5
Name: BIDLO, dtype: float64

                                      step4VOL
0     5283    41619463
Name: VOL, dtype: int64
1     5284    36617545
Name: VOL, dtype: int64
2     5285    34347761
Name: VOL, dtype: int64
3     5286    38622254
Name: VOL, dtype: int64
4         0    5791500
Name: VOL, dtype: int64
...                                        ...
5282  5278    74417091
Name: VOL, dtype: int64
5283  5279    47824714
Name: VOL, dtype: int64
5284  5280    63984560
Name: VOL, dtype: int64
5285  5281    39301101
Name: VOL, dtype: int64
5286  5282    19153092
Name: VOL, dtype: int64

[5287 rows x 59 columns]
total error squared:  1.3736744397028146e-14